---
import Navbar from "../components/navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cosmira</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>

<style>
  body {
    font-family: "Roboto", sans-serif;

    background-color: black;
  }
</style>
